footer{
    margin-top: 30px !important;
}

#callback_form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

#callback_form input, #callback_form textarea {
    color: white;
    font-size: 24px;
    padding: 20px;
    width: 800px;
    background: none;
    border: 2px solid #754969;
    border-radius: 2px;
}

#callback_form textarea{
    resize: none;
    height: 150px;
}

#callback_form button{
    background: #FF8D00;
    color: white;
    padding: 20px 90px;
    font-size: 20px;
}

.callback__title{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}